<!DOCTYPE html>
<html>
    <title>Welcome page</title>
    <h1>Hello! My name is {{name}} and welcome to my first HBS page template</h1>
    <body>
        {{> header}}

        <p>{{screamIt 'welcome to my website'}}</p>

        {{> footer}}
    </body>
</html>